<mat-card>
  <mat-list>
    <!-- Top row for buttons -->
    <mat-list-item class="tall">
      <mat-grid-list cols="9" rowHeight="78px">
        <mat-grid-tile colspan="2">
          <!-- <button mat-icon-button>
                <mat-icon>add_one</mat-icon>
              </button> -->
        </mat-grid-tile>
        <mat-grid-tile colspan="5">
          <a
            extended
            mat-fab
            [routerLink]="[
              '/exercises',
              'history',
              groupOfSetSignal().exerciseId
            ]"
            queryParamsHandling="merge"
            >History<mat-icon> history </mat-icon></a
          >
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <a
            mat-icon-button
            routerLink="./"
            [queryParams]="{ groupOfSetIndexParam: -1 }"
          >
            <mat-icon>close</mat-icon>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-list-item>

    <ng-container *ngIf="exerciseType() !== 'score'">
      <!-- column headers -->
      <mat-list-item>
        <mat-grid-list cols="12" rowHeight="48px">
          <mat-grid-tile colspan="2">Set</mat-grid-tile>
          <mat-grid-tile colspan="4">Weight</mat-grid-tile>
          <ng-container [ngSwitch]="exerciseType()">
            <mat-grid-tile *ngSwitchCase="'reps'" colspan="4"
              >Reps</mat-grid-tile
            >
            <mat-grid-tile *ngSwitchCase="'time'" colspan="4"
              >Time</mat-grid-tile
            >
            <mat-grid-tile *ngSwitchCase="'distance'" colspan="4"
              >Distance</mat-grid-tile
            >
          </ng-container>
          <mat-grid-tile colspan="2"></mat-grid-tile>
        </mat-grid-list>
      </mat-list-item>

      <!-- the actual set number, weight, reps etc. -->
      <form [formGroup]="form">
        <ng-container formArrayName="sets">
          <mat-list-item
            *ngFor="let setForm of form.controls['sets'].controls; let i = index"
            class="taller"
          >
            <!-- [ngClass]="{ taller: setForm.value.painScore !== null }" -->
            <!-- {{ set | json }} -->
            <mat-grid-list cols="12" rowHeight="79px" [formGroup]="setForm">
              <mat-grid-tile colspan="2"> {{ 1 + i }}</mat-grid-tile>
              <mat-grid-tile colspan="4">
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    max="9999"
                    type="number"
                    formControlName="weight"
                    name="weight"
                  />
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile colspan="4">
                <mat-form-field appearance="outline">
                  <ng-container [ngSwitch]="exerciseType()">
                    <input
                      *ngSwitchCase="'reps'"
                      matInput
                      type="number"
                      max="999"
                      min="0"
                      name="reps"
                      formControlName="reps"
                    />
                    <input
                      *ngSwitchCase="'time'"
                      matInput
                      type="number"
                      max="999"
                      min="0"
                      name="time"
                      formControlName="time"
                    />
                    <input
                      *ngSwitchCase="'distance'"
                      matInput
                      type="number"
                      max="999"
                      min="0"
                      name="distance"
                      formControlName="distance"
                    />
                  </ng-container> </mat-form-field
              ></mat-grid-tile>
              <mat-grid-tile colspan="2">
                <button
                  type="button"
                  mat-icon-button
                  (click)="removeSet(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-grid-tile>
              <mat-grid-tile colspan="10">
                <mat-slider min="0" max="10" step="1">
                  <input
                    matSliderThumb
                    name="painScore"
                    formControlName="painScore"
                  />
                </mat-slider>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                {{ setForm.value.painScore }}
              </mat-grid-tile>
            </mat-grid-list>
          </mat-list-item>
        </ng-container>
      </form>

      <!-- bottom row for add button -->
      <mat-list-item class="tall">
        <mat-grid-list cols="1">
          <mat-grid-tile>
            <button mat-fab color="primary" (click)="addSet()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-list-item>
    </ng-container>
  </mat-list>
</mat-card>
